@font-face {
  font-family: "Chicago";
  src: url("/ChicagoFLF.ttf");
}

body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  font-family: "Chicago", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header p strong {
    text-transform: uppercase;
}

.post-title {
    background: whitesmoke;
    margin: 10rem 0;
    color: black;
    padding: 2rem;
    font-weight: bold;
}

article {
  p { font-size: 88%; }
}

a,a:visited {
  color: whitesmoke;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

a.active {
    background: whitesmoke;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
}

blockquote {
  background: black;
  border-left: 5px solid whitesmoke;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-style: italic;
  color: greenyellow;
}

pre {
  border-left: 1.3px dashed whitesmoke;
}

.date {
  opacity: 0.6;
}

.emoji {
  font-size: 110%
}

.dark {
  color: rgb(42, 36, 83);
}

.highlight  { 
  font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 84%;
  color: whitesmoke; 
  overflow: auto;
  padding: 1em;
  width: 98%;
}

.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { color: whitesmoke } /* Error */
.highlight .esc { color: whitesmoke } /* Escape */
.highlight .g { color: whitesmoke } /* Generic */
.highlight .k { color: #fb660a; font-weight: bold } /* Keyword */
.highlight .l { color: whitesmoke } /* Literal */
.highlight .n { color: whitesmoke } /* Name */
.highlight .o { color: whitesmoke } /* Operator */
.highlight .x { color: whitesmoke } /* Other */
.highlight .p { color: whitesmoke } /* Punctuation */
.highlight .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #ff0007; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-style: italic } /* Comment.Special */
.highlight .gd { color: whitesmoke } /* Generic.Deleted */
.highlight .ge { color: whitesmoke } /* Generic.Emph */
.highlight .gr { color: whitesmoke } /* Generic.Error */
.highlight .gh { color: whitesmoke; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: whitesmoke } /* Generic.Inserted */
.highlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight .gp { color: whitesmoke } /* Generic.Prompt */
.highlight .gs { color: whitesmoke } /* Generic.Strong */
.highlight .gu { color: whitesmoke; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: whitesmoke } /* Generic.Traceback */
.highlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #fb660a } /* Keyword.Pseudo */
.highlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: whitesmoke } /* Literal.Date */
.highlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.highlight .s { color: #0086d2 } /* Literal.String */
.highlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.highlight .nb { color: whitesmoke } /* Name.Builtin */
.highlight .nc { color: whitesmoke } /* Name.Class */
.highlight .no { color: #0086d2 } /* Name.Constant */
.highlight .nd { color: whitesmoke } /* Name.Decorator */
.highlight .ni { color: whitesmoke } /* Name.Entity */
.highlight .ne { color: whitesmoke } /* Name.Exception */
.highlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.highlight .nl { color: whitesmoke } /* Name.Label */
.highlight .nn { color: whitesmoke } /* Name.Namespace */
.highlight .nx { color: whitesmoke } /* Name.Other */
.highlight .py { color: whitesmoke } /* Name.Property */
.highlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #fb660a } /* Name.Variable */
.highlight .ow { color: whitesmoke } /* Operator.Word */
.highlight .w { color: #888888 } /* Text.Whitespace */
.highlight .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { color: #0086d2 } /* Literal.String.Affix */
.highlight .sb { color: #0086d2 } /* Literal.String.Backtick */
.highlight .sc { color: #0086d2 } /* Literal.String.Char */
.highlight .dl { color: #0086d2 } /* Literal.String.Delimiter */
.highlight .sd { color: #0086d2 } /* Literal.String.Doc */
.highlight .s2 { color: #0086d2 } /* Literal.String.Double */
.highlight .se { color: #0086d2 } /* Literal.String.Escape */
.highlight .sh { color: #0086d2 } /* Literal.String.Heredoc */
.highlight .si { color: #0086d2 } /* Literal.String.Interpol */
.highlight .sx { color: #0086d2 } /* Literal.String.Other */
.highlight .sr { color: #0086d2 } /* Literal.String.Regex */
.highlight .s1 { color: #0086d2 } /* Literal.String.Single */
.highlight .ss { color: #0086d2 } /* Literal.String.Symbol */
.highlight .bp { color: whitesmoke } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #fb660a } /* Name.Variable.Class */
.highlight .vg { color: #fb660a } /* Name.Variable.Global */
.highlight .vi { color: #fb660a } /* Name.Variable.Instance */
.highlight .vm { color: #fb660a } /* Name.Variable.Magic */
.highlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */