@font-face {
  font-family: "Chicago";
  src: url("/ChicagoFLF.ttf");
}

body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  font-family: "Chicago", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header p strong {
    text-transform: uppercase;
}

.post-title {
    background: whitesmoke;
    margin: 10rem 0;
    color: black;
    padding: 2rem;
    font-weight: bold;
}

article {
  p { font-size: 88%; }
}

a,a:visited {
  color: whitesmoke;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

a.active {
    background: whitesmoke;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
}

blockquote {
  background: black;
  border-left: 5px solid whitesmoke;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 84%;
}

// pre {
//   border-left: 1.3px dashed whitesmoke;
//   overflow: auto;
//   padding: 1em;
//   width: 98%;
// }

.date {
  opacity: 0.6;
}

.emoji {
  font-size: 110%
}

.dark {
  color: rgb(42, 36, 83);
}