---
layout: default
forms:
    - placeholders: true
      fields:
        - name: CIDRAddresses
          input_type: textarea
          placeholder: 0.0.0.0/24
          required: true
        - name: Submit
          input_type: submit
          placeholder: Expand Addresses
          required: true    
---

<section id="tool">
    <div class="flex-row-between">
        <h1>CIDR Expansion Tool</h1>
        <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
            <div></div>
        </button>
    </div>

    <div class="tool-description">
        This tool expands cidr notation IP addresses into a full, plaintext list. 
    </div>
    <br>
    <div class="tool-form">
        {% if page.forms[0] %}{% include form.html form="1" %}{% endif %}
    </div>

    <div class="tool-output">
        Output.
    </div>
</section>

<script src="/js/jquery.min.js"></script>
{% include better-forms.html %}
